<template name="optional">

<!-- Header -->
    <!-- Left -->
    {{# contentFor "headerLeft" }}
        <a href="{{ pathFor route='pages_home' }}" class="action">Back</a>
    {{/ contentFor }}

    <!-- Middle -->
    {{# contentFor "headerMiddle" }}
        <div class="title">Optional</div>
    {{/ contentFor }}

    <!-- Right -->
    {{# contentFor "headerRight" }}{{/ contentFor }}

<!-- Content -->
    <div class="animate fadein">
        <div class="content">
            <div>
                <h3 class="tx-center">Optional Styles and Components</h3>
            </div>

            <hr/>

            <div>
                <h3 class="tx-center">Grid</h3>

                <p>Mobile Device</p>
                <div class="container">
                    <div class="row">
                        <div class="col s4">.container .row .col.s4</div>
                        <div class="col s4">.container .row .col.s4</div>
                        <div class="col s4">.container .row .col.s4</div>
                    </div>
                </div>

                <p>Desktop Device</p>
                <div class="container">
                    <div class="row">
                        <div class="col l6">.container .row .col.l6</div>
                        <div class="col l6">.container .row .col.l6</div>
                    </div>
                </div>
            </div>

            <hr/>

            <div>
                <h3 class="tx-center">Buttons</h3>

                <div class="container">
                    <div class="row">
                        <div class="col s4 tx-center">
                            <a href="#" class="button">Anchor</a>
                        </div>

                        <div class="col s4 tx-center">
                            <input type="button" value="Input" />
                        </div>

                        <div class="col s4 tx-center">
                            <button>Button</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <button class="button-primary width100">Button Primary</button>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>

            <div>
                <h3 class="tx-center">Form Elements</h3>

                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <input type="text" placeholder="Input text"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <textarea rows="5" placeholder="Textarea"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <select>
                                <option>Technology</option>
                                <option>Science</option>
                                <option>Food</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>

            <div>
                <h3 class="tx-center">Colors</h3>

                <div class="container">
                    <div class="row">
                        <div class="col s6 colors">
                            <div class="red white-text">.red .white-text</div>
                            <div class="pink">pink</div>
                            <div class="purple">purple</div>
                            <div class="deep-purple">deep-purple</div>
                            <div class="indigo">indigo</div>
                            <div class="blue">blue</div>
                            <div class="light-blue">light-blue</div>
                            <div class="cyan">cyan</div>
                            <div class="teal">teal</div>
                        </div>

                        <div class="col s6 colors">
                            <div class="green">green</div>
                            <div class="light-green">light-green</div>
                            <div class="lime">lime</div>
                            <div class="yellow">yellow</div>
                            <div class="amber">amber</div>
                            <div class="orange">orange</div>
                            <div class="deep-orange">deep-orange</div>
                            <div class="brown">brown</div>
                            <div class="grey">grey</div>
                        </div>
                    </div>
                </div>

                <p class="tx-center">
                    <a href="{{ pathFor route='optional_colors' }}" class="button">View All Colors</a>
                </p>
            </div>
            <hr/>

            <div>
                <h3 class="tx-center">Fontawesome</h3>

                <div class="container">
                    <div class="row">
                        <div class="col s4 tx-center">
                            <i class="fa fa-star"></i>
                        </div>

                        <div class="col s4 tx-center">
                            <a href="#" class="button">Next <i class="fa fa-chevron-right"></i></a>
                        </div>

                        <div class="col s4 tx-center">
                            <a href="#" class="button button-primary"><i class="fa fa-check"></i> Ok</a>
                        </div>
                    </div>
                </div>

                <p class="tx-center">
                    <a href="{{ pathFor route='optional_fontawesome' }}" class="button">View More</a>
                </p>
            </div>
        </div>
    </div>

<!-- Footer -->
    {{# contentFor "footerTabs"}}
        {{> commonFooterTabsCommon }}
    {{/ contentFor }}

    <style>
        /* demo */
        .colors div { padding: 10px 15px; }
    </style>

</template>