<template name="blogLatest">

<!-- Header -->
    <!-- Left -->
    {{# contentFor "headerLeft" }}
        <a href="{{ pathFor route='pages_home' }}" class="action">Back</a>
    {{/ contentFor }}

    <!-- Middle -->
    {{# contentFor "headerMiddle" }}
        <div class="title">Latest</div>
    {{/ contentFor }}

    <!-- Right -->
    {{# contentFor "headerRight" }}
        <a href="{{ pathFor route='blog_write' }}" class="action">Write</a>
    {{/ contentFor }}

<!-- Content -->
    <div class="animate fadein">
        <div class="content">
            <div class="clearfix" style="background-color: white; padding: 10px; margin-bottom: 15px;">
                <h3>Ho-ho-ho! greed of madness.</h3>
                <p>Lura Eposs experimentum in tubinga! Guttuss volare, tanquam superbus exemplar. Finis manducares, tanquam brevis fortis. Everyone loves the bitterness of ramen cake marinated with warm baking powder. Faith ho! rob to be haulled. The creature is more ferengi now than emitter. lunar and quickly chemical. Vae, castus nuclear vexatum iacere! Avocado tastes best with fish sauce and lots of butterscotch. Ecce. Everyone loves the bitterness of chicken breasts platter garnishd with salty brown sugar. Cannon of an addled booty, hail the love! I pull this vision, it's called clear core.</p>
                <p><a href="{{ pathFor route='blog_read' }}" class="btn">READ MORE</a></p>
            </div>

            <div class="clearfix" style="background-color: white; padding: 10px; margin-bottom: 15px;">
                <h3>Yo-ho-ho, coal-black swabbie. you won't command the seychelles.</h3>
                <p>Lura Eposs experimentum in tubinga! Guttuss volare, tanquam superbus exemplar. Finis manducares, tanquam brevis fortis. Everyone loves the bitterness of ramen cake marinated with warm baking powder. Faith ho! rob to be haulled. The creature is more ferengi now than emitter. lunar and quickly chemical. Vae, castus nuclear vexatum iacere! Avocado tastes best with fish sauce and lots of butterscotch. Ecce. Everyone loves the bitterness of chicken breasts platter garnishd with salty brown sugar. Cannon of an addled booty, hail the love! I pull this vision, it's called clear core.</p>
                <p><a href="{{ pathFor route='blog_read' }}" class="btn">READ MORE</a></p>
            </div>

            <div class="clearfix" style="background-color: white; padding: 10px; margin-bottom: 15px;">
                <h3>Ho-ho-ho! greed of madness.</h3>
                <p>Lura Eposs experimentum in tubinga! Guttuss volare, tanquam superbus exemplar. Finis manducares, tanquam brevis fortis. Everyone loves the bitterness of ramen cake marinated with warm baking powder. Faith ho! rob to be haulled. The creature is more ferengi now than emitter. lunar and quickly chemical. Vae, castus nuclear vexatum iacere! Avocado tastes best with fish sauce and lots of butterscotch. Ecce. Everyone loves the bitterness of chicken breasts platter garnishd with salty brown sugar. Cannon of an addled booty, hail the love! I pull this vision, it's called clear core.</p>
                <p><a href="{{ pathFor route='blog_read' }}" class="btn">READ MORE</a></p>
            </div>

            <div class="clearfix" style="background-color: white; padding: 10px; margin-bottom: 15px;">
                <h3>Yo-ho-ho, coal-black swabbie. you won't command the seychelles.</h3>
                <p>Lura Eposs experimentum in tubinga! Guttuss volare, tanquam superbus exemplar. Finis manducares, tanquam brevis fortis. Everyone loves the bitterness of ramen cake marinated with warm baking powder. Faith ho! rob to be haulled. The creature is more ferengi now than emitter. lunar and quickly chemical. Vae, castus nuclear vexatum iacere! Avocado tastes best with fish sauce and lots of butterscotch. Ecce. Everyone loves the bitterness of chicken breasts platter garnishd with salty brown sugar. Cannon of an addled booty, hail the love! I pull this vision, it's called clear core.</p>
                <p><a href="{{ pathFor route='blog_read' }}" class="btn">READ MORE</a></p>
            </div>

            <div class="clearfix" style="background-color: white; padding: 10px; margin-bottom: 15px;">
                <h3>Ho-ho-ho! greed of madness.</h3>
                <p>Lura Eposs experimentum in tubinga! Guttuss volare, tanquam superbus exemplar. Finis manducares, tanquam brevis fortis. Everyone loves the bitterness of ramen cake marinated with warm baking powder. Faith ho! rob to be haulled. The creature is more ferengi now than emitter. lunar and quickly chemical. Vae, castus nuclear vexatum iacere! Avocado tastes best with fish sauce and lots of butterscotch. Ecce. Everyone loves the bitterness of chicken breasts platter garnishd with salty brown sugar. Cannon of an addled booty, hail the love! I pull this vision, it's called clear core.</p>
                <p><a href="{{ pathFor route='blog_read' }}" class="btn">READ MORE</a></p>
            </div>

            <div class="clearfix" style="background-color: white; padding: 10px;">
                <h3>Yo-ho-ho, coal-black swabbie. you won't command the seychelles.</h3>
                <p>Lura Eposs experimentum in tubinga! Guttuss volare, tanquam superbus exemplar. Finis manducares, tanquam brevis fortis. Everyone loves the bitterness of ramen cake marinated with warm baking powder. Faith ho! rob to be haulled. The creature is more ferengi now than emitter. lunar and quickly chemical. Vae, castus nuclear vexatum iacere! Avocado tastes best with fish sauce and lots of butterscotch. Ecce. Everyone loves the bitterness of chicken breasts platter garnishd with salty brown sugar. Cannon of an addled booty, hail the love! I pull this vision, it's called clear core.</p>
                <p><a href="{{ pathFor route='blog_read' }}" class="btn">READ MORE</a></p>
            </div>
        </div>
    </div>

<!-- Footer -->
    {{# contentFor "footerTabs"}}
        {{> commonFooterTabsCommon }}
    {{/ contentFor }}

</template>