<template name="widgetsModal">

<!-- Header -->
    <!-- Left -->
    {{# contentFor "headerLeft" }}
        <a href="{{ pathFor route='widgets' }}" class="action">Back</a>
    {{/ contentFor }}

    <!-- Middle -->
    {{# contentFor "headerMiddle" }}
        <div class="title">Widget - Modal</div>
    {{/ contentFor }}

    <!-- Right -->
    {{# contentFor "headerRight" }}{{/ contentFor }}

<!-- Content -->
    <div class="animate fadein vertical-align">
        <div class="content vertical-align-child">
            <h2 class="tx-center">Basic</h2>

            <p class="tx-center">
                <a href="#" class="button modal-activate" modal="example">Show</a>
            </p>
        </div>
    </div>

<!-- Footer -->
    {{# contentFor "footerTabs"}}
        {{> commonFooterTabsCommon }}
    {{/ contentFor }}

<!-- Modals -->
    <div class="modal" id="example">
        <div class="modal-inner">
            <div class="modal-header">
                <div class="section tx-center">
                    Looks good?
                </div>
            </div>
            <div class="modal-content">
                <p>
                    Abnoba rusticus calcaria est. All holy bodies remember each other, only small selfs have a mind. xHell of relativity will cosmically hurt a new guru. After crushing the cracker crumps, rub white bread, bagel and salsa verde with it in a grinder.
                </p>
            </div>
            <div class="modal-footer">
                <a href="#" class="section modal-close half">No</a>
                <a href="#" class="section modal-close half">Yes</a>
            </div>
        </div>
    </div>

</template>