<template name="pagesAbout">

<!-- Header -->
    <!-- Left -->
    {{# contentFor "headerLeft" }}
        <a href="{{ pathFor route='pages_home' }}" class="action">Back</a>
    {{/ contentFor }}

    <!-- Middle -->
    {{# contentFor "headerMiddle" }}
        <div class="title">About</div>
    {{/ contentFor }}

    <!-- Right -->
    {{# contentFor "headerRight" }}
        <a href="{{ pathFor route='blog_write' }}" class="action">Write</a>
    {{/ contentFor }}

<!-- Content -->
    <div class="animate fadein vertical-align">
        <div class="content vertical-align-child">
            <div class="container">
                <div class="row">
                    <div class="col s6">a</div>

                    <div class="col s6">b</div>
                </div>
            </div>

            <p>Extums experimentum! Cum luna peregrinatione, omnes hydraes prensionem mirabilis, dexter axonaes. Varnish five tablespoons of okra in one container of triple sec.</p>

            <p>Github:</p>
            <p><a href="https://github.com/atulmy/meteor-baseui" target="_blank" style="color: darkblue;">https://github.com/atulmy/meteor-baseui</a></p>

            <p>Demo:</p>
            <p><a href="http://baseui.meteor.com/" target="_blank" style="color: darkblue;">http://baseui.meteor.com/</a></p>
        </div>
    </div>

<!-- Footer -->
    {{# contentFor "footerTabs"}}
        {{> commonFooterTabsCommon }}
    {{/ contentFor }}

</template>