<template name="pagesContact">

<!-- Header -->
    <!-- Left -->
    {{# contentFor "headerLeft" }}
        <a href="{{ pathFor route='pages_home' }}" class="action">Back</a>
    {{/ contentFor }}

    <!-- Middle -->
    {{# contentFor "headerMiddle" }}
        <div class="title">Contact</div>
    {{/ contentFor }}

    <!-- Right -->
    {{# contentFor "headerRight" }}
        <a href="{{ pathFor route='blog_write' }}" class="action">Write</a>
    {{/ contentFor }}

<!-- Content -->
    <div class="animate content vertical-align">
        <div class="container vertical-align-child">
            <p>Extums experimentum! Cum luna peregrinatione, omnes hydraes prensionem mirabilis, dexter axonaes. Varnish five tablespoons of okra in one container of triple sec.</p>

            <p>Email: contact@example.com</p>

            <p>Phone: +91 9876543210</p>
        </div>
    </div>

<!-- Footer -->
    {{# contentFor "footerTabs"}}
        {{> commonFooterTabsCommon }}
    {{/ contentFor }}

</template>