<template name="pagesHome">

<!-- Header -->
    <!-- Left -->
    {{# contentFor "headerLeft" }}
        <a href="#" class="action menu-show">Menu</a>
    {{/ contentFor }}

    <!-- Middle -->
    {{# contentFor "headerMiddle" }}
        <div class="title">The Blog</div>
    {{/ contentFor }}

    <!-- Right -->
    {{# contentFor "headerRight" }}
        <a href="{{ pathFor route='blog_write' }}" class="action">Write</a>
    {{/ contentFor }}

<!-- Content -->
    <div class="animate fadein vertical-align">
        <div class="content vertical-align-child">
            <h1 class="tx-center">Hello there!</h1>

            <p class="tx-center">Write some blogs today, you must - Yoda</p>

            <p class="tx-center" style="color: #999;">(note: this is a static website to show an example of BaseUI)</p>

            <p class="tx-center"><a href="https://github.com/atulmy/meteor-baseui" target="_blank" style="color: darkblue;">View Github Repository</a></p>
        </div>
    </div>

<!-- Footer -->
    {{# contentFor "footerTabs"}}
        {{> commonFooterTabsCommon }}
    {{/ contentFor }}

</template>