<template name="userProfile">

<!-- Header -->
    <!-- Left -->
    {{# contentFor "headerLeft" }}
        <a href="#" class="action menu-show">Menu</a>
    {{/ contentFor }}

    <!-- Middle -->
    {{# contentFor "headerMiddle" }}
        <div class="title">Profile</div>
    {{/ contentFor }}

    <!-- Right -->
    {{# contentFor "headerRight" }}
        <a href="{{ pathFor route='user_edit' }}" class="action">Edit</a>
    {{/ contentFor }}

<!-- Content -->
    <div class="animate fadein vertical-align">
        <div class="content vertical-align-child">
            <h1 class="title scale-0-5" style="text-align: center;">Atul Yadav</h1>

            <p style="background-color: #fff; padding: 10px;">I'm a full stack developer with interests in web and mobile application development, especially with MeteorJS :)</p>
            <p>Interests: Technology, Science</p>

            <p>Blogs written: 20</p>
            <p>Joined:: 21st February, 2016</p>

            <p><a href="{{ pathFor route='user_login' }}">LOGOUT</a></p>
        </div>
    </div>

<!-- Footer -->
    {{# contentFor "footerTabs"}}
        {{> commonFooterTabsCommon }}
    {{/ contentFor }}

</template>