<template name="userRegister">

<!-- Header -->
    <!-- Left -->
    {{# contentFor "headerLeft" }}
        <a href="#" class="action menu-show">Menu</a>
    {{/ contentFor }}

    <!-- Middle -->
    {{# contentFor "headerMiddle" }}
        <div class="title">Login</div>
    {{/ contentFor }}

    <!-- Right -->
    {{# contentFor "headerRight" }}
        <a href="{{ pathFor route='user_profile' }}" class="action">Submit</a>
    {{/ contentFor }}

<!-- Content -->
    <div class="animate fadein">
        <div class="content">
            <form>
                <div class="clearfix">
                    <p>Name</p>
                    <p><input type="text" class="width100"/></p>
                </div>

                <div class="clearfix">
                    <p>Email</p>
                    <p><input type="email" class="width100"/></p>
                </div>

                <div class="clearfix">
                    <p>Password</p>
                    <p><input type="password" class="width100"/></p>
                </div>

                <div class="clearfix">
                    <p>About you</p>
                    <p>
                        <textarea rows="5" class="width100"></textarea>
                    </p>
                </div>

                <div class="clearfix">
                    <p>Interests</p>
                    <p>
                        <label><input type="checkbox" /> Technology</label>
                    </p>
                    <p>
                        <label><input type="checkbox" /> Science</label>
                    </p>
                    <p>
                        <label><input type="checkbox" /> Food</label>
                    </p>
                </div>
            </form>
        </div>
    </div>

<!-- Footer -->
    {{# contentFor "footerTabs"}}
        {{> commonFooterTabsLogin }}
    {{/ contentFor }}

</template>