<template name="widgets">

<!-- Header -->
    <!-- Left -->
    {{# contentFor "headerLeft" }}
        <a href="{{ pathFor route='pages_home' }}" class="action">Back</a>
    {{/ contentFor }}

    <!-- Middle -->
    {{# contentFor "headerMiddle" }}
        <div class="title">Widgets</div>
    {{/ contentFor }}

    <!-- Right -->
    {{# contentFor "headerRight" }}{{/ contentFor }}

<!-- Content -->
    <div class="animate fadein">
        <div class="content">
            <h3 class="tx-center">Modals</h3>
            <p class="tx-center">
                <a href="{{ pathFor route='widgets_modal' }}" class="button">Basic</a>

                <a href="{{ pathFor route='widgets_modal_full' }}" class="button">Full</a>

                <a href="{{ pathFor route='widgets_modal_bottomsheet' }}" class="button">Bottomsheet</a>
            </p>

            <hr/>

            <h3 class="tx-center">Sliders</h3>
            <p class="tx-center">
                <a href="{{ pathFor route='widgets_slider' }}" class="button">Basic</a>

                <a href="{{ pathFor route='widgets_slider_fullscreen' }}" class="button">Full Screen</a>
            </p>
        </div>
    </div>

<!-- Footer -->
    {{# contentFor "footerTabs"}}
        {{> commonFooterTabsCommon }}
    {{/ contentFor }}

</template>