<template name="commonMenuLinks">

    <a href="{{ pathFor route='pages_home' }}" class="action mobile-menu-links">Home</a>
    <a href="{{ pathFor route='pages_about' }}" class="action mobile-menu-links {{ isActiveRoute 'pages_about' }}">About</a>
    <a href="{{ pathFor route='widgets' }}" class="action mobile-menu-links {{ isActiveRoute 'widgets' }}">Widgets</a>
    <a href="{{ pathFor route='optional' }}" class="action mobile-menu-links {{ isActiveRoute 'optional' }}">Optional Styles</a>

</template>